@import url('https://fonts.cdnfonts.com/css/avenir');

.home {
  font-family: 'Avenir', sans-serif;
  font-size: 21px;
  text-transform: uppercase;

  text-align: center;
  color: #2d9595;
}

.home a {
  margin-top: 10px;
}

.admin-bar {

}

