<div class="top-box">
  <h1>Let's eat</h1>
</div>

<div class="services-box">
  <div class="service">
    <h5>Замовляйте на місці</h5>
    <p>Замовлення за номером столику</p>
  </div>

  <div class="service">
    <h5>Оплачуйте в додатку</h5>
    <p>Оплата картою за допомогою Google Pay</p>
  </div>

  <div class="service">
    <h5>Залишайте відгук</h5>
    <p>Відгук до кожного замовлення</p>
  </div>
</div>

<div class="popular-box">
  <h1>POPULAR</h1>

  <div class="popular-items-box">
    <div class="popular-item" *ngFor="let dish of topDishes">
      <h5>{{ dish.name }}</h5>
      <p>{{ dish.category }}</p>
      <p>{{ dish.description }}</p>
    </div>
  </div>
</div>

<div class="btn-block">
  <button class="simple-btn">Перейти до меню</button>
</div>
