<form (ngSubmit)="authenticateUser()" method="post">
  <h3>Login</h3>

  <div class="form-input-box">
    <label for="email">Login:</label>
    <input type="text" id="email" name="login" [(ngModel)]="user.email">

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" [(ngModel)]="user.password">
  </div>

  <div class="alert-danger" *ngIf="isWrongData">
    Неправильно введені логін чи пароль
  </div>

  <div class="form-submit">
    <input type="submit" value="Log in">
  </div>

  <div class="mt-md-5">
    <p>Або увійдіть за допомогою gmail:</p>
    <asl-google-signin-button type='icon' size='medium'></asl-google-signin-button>
  </div>

</form>
