form {
  margin: 5% 40%;
}

.form-input-box {
  display: flex;
  flex-direction: column;
}

.form-input {
  margin: 3%;

  display: grid;
  grid-template-columns: 2fr 1fr;
}

.form-submit {
  margin-top: 5%;
}
