<div class="add-menu-item-container" *ngIf="isAdmin()">
  <button class="simple-btn" [routerLink]="['/menu/manage/add']">
    Нова позиція
  </button>
</div>

<div class="category-navigation">
  <div class="category-navigation-element" *ngFor="let item of menu">
    <a [routerLink]="['/menu']" fragment="{{ item.category }}">{{ item.category }}</a>
  </div>
</div>

<div class="menu-container">

  <div *ngFor="let item of menu" id="{{ item.category }}">
    <h2>{{ item.category }}</h2>
    <ul>
      <li class="menu-item" *ngFor="let item of item.items">
        <h3>{{ item.name }}</h3>
        <p>{{ item.price }} грн</p>
        <p>Опис: {{ item.description }}</p>

        <button class="simple-btn" (click)="addProductToCart(item)">
          Додати
        </button>
        <button class="simple-btn" [routerLink]="['/menu/manage', item.id ]" *ngIf="isAdmin()">
          Редагувати
        </button>
      </li>
    </ul>
  </div>

</div>

<div class="modal-item-added" *ngIf="showModalItemAdded">
  <p>{{addedItem.name}} додано до корзини</p>
</div>
